<a href="https://colab.research.google.com/github/kapil0808/TensorFlow/blob/main/air_Quality_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime,scipy
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import math

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.metrics import mean_squared_error

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [4]:
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/air_quality.csv',sep=' ')
df.head()

   No  Profile     Tanggal       Jam  ...  WD  ISPU  Status  Unnamed: 22
0   1  BANDUNG  2019-05-19  00:04:19  ...   5     9    BAIK          NaN
1   2  BANDUNG  2019-05-19  00:15:01  ...   2    12    BAIK          NaN
2   3  BANDUNG  2019-05-19  00:30:06  ...   2    13    BAIK          NaN
3   4  BANDUNG  2019-05-19  00:49:19  ...   5     6    BAIK          NaN
4   5  BANDUNG  2019-05-19  01:04:19  ...   5     9    BAIK          NaN

[5 rows x 23 columns]

In [5]:
def combine_date(df,tab_name):
  list_tab=[]
  for i in range(df.shape[0]):
    list_tab.append(df.loc[i,'Tanggal'] + 'T' +df.loc[i,tab_name][0:2])
  return np.array(list_tab,dtype='datetime64')

In [6]:
df['Datetime']=combine_date(df,'Jam')

def combine_date(df,tab_name):
  list_tab=[]
  for i in range(df.shape[0]):
    list_tab.append(df.loc[i,'Tanggal'] + 'T' +df.loc[i,tab_name][0:2])
  return np.array(list_tab,dtype='datetime64')

df['Datetime']=combine_date(df,'Jam')

df1=df[['Datetime','O3',	'CO',	'NO2'	,'SO2',	'NO',	'CO2',	'VOC',	'PM1',	'PM2.5',	'PM4',	'PM10',	'TSP',	'TEMP','HUM'	,'WS',	'WD',	'ISPU',	'Status']]

df2=df1.groupby(['Datetime']).mean()

df2.head()

                            O3        CO     NO2  ...       WS        WD       ISPU
Datetime                                          ...
2019-05-19 00:00:00  11.797500  0.667500  15.720  ...  0.28125  3.500000  10.000000
2019-05-19 01:00:00   3.816667  0.373333  22.600  ...  0.67500  4.666667  12.666667
2019-05-19 02:00:00   6.450000  0.332500  24.130  ...  0.09375  3.750000  16.250000
2019-05-19 03:00:00   4.740000  0.180000  25.975  ...  0.07500  5.000000  15.000000
2019-05-19 04:00:00  19.692500  0.202500  20.395  ...  0.18750  5.250000  13.250000

[5 rows x 17 columns]

In [7]:
df2.describe()

                O3           CO  ...           WD         ISPU
count  1737.000000  1737.000000  ...  1737.000000  1737.000000
mean      8.538909     0.233172  ...     7.129031    10.097848
std       3.997292     0.388102  ...     3.523245     5.049788
min       0.270000     0.010000  ...     0.000000     4.250000
25%       5.881667     0.083333  ...     4.666667     8.166667
50%       7.813333     0.160000  ...     5.833333     9.500000
75%      10.373333     0.296667  ...    10.500000    11.000000
max      33.741667    13.950000  ...    15.000000   156.500000

[8 rows x 17 columns]

In [12]:
def calculate_quantile(i,df2):
  Q1=df2[[i]].quantile(0.25)[0]
  Q3=df2[[i]].quantile(0.75)[0]
  IQR=Q3-Q1
  min=df2[[i]].min()[0]
  max=df2[[i]].max()[0]
  min_IQR=Q1-1.5*IQR
  max_IQR=Q3+1.5*IQR

  return Q1,Q3,min,max,min_IQR,max_IQR

df2.drop(index=[df2.index[0],df2.index[df2.shape[0]-1]],inplace=True)


for i in df2.columns:
  print('\nAttribute-',i,':')
  Q1,Q3,min,max,min_IQR,max_IQR = calculate_quantile(i,df2)
  print('Q1 = %.2f'%Q1)
  print('Q3 = %.2f'%Q3)
  print('min_IQR = %.2f'%min_IQR)
  print('max_IQR = %.2f'%max_IQR)
  if(min<min_IQR):
    print('---> Low outlier is found=%.2f'% min)
  if(max<max_IQR):
    print('---> High outlier is found=%.2f'% max)

Attribute- O3 :
Q1 = 5.88
Q3 = 10.37
min_IQR = -0.86
max_IQR = 17.11

Attribute- CO :
Q1 = 0.08
Q3 = 0.30
min_IQR = -0.24
max_IQR = 0.62

Attribute- NO2 :
Q1 = 13.01
Q3 = 19.93
min_IQR = 2.62
max_IQR = 30.32
---> Low outlier is found=2.04

Attribute- SO2 :
Q1 = 8.99
Q3 = 14.57
min_IQR = 0.63
max_IQR = 22.93

Attribute- NO :
Q1 = 28.44
Q3 = 46.02
min_IQR = 2.09
max_IQR = 72.37

Attribute- CO2 :
Q1 = 391.84
Q3 = 397.40
min_IQR = 383.49
max_IQR = 405.75
---> Low outlier is found=380.42

Attribute- VOC :
Q1 = 247.81
Q3 = 253.30
min_IQR = 239.57
max_IQR = 261.53
---> Low outlier is found=187.52

Attribute- PM1 :
Q1 = 0.00
Q3 = 0.00
min_IQR = 0.00
max_IQR = 0.00

Attribute- PM2.5 :
Q1 = 0.00
Q3 = 0.00
min_IQR = 0.00
max_IQR = 0.00

Attribute- PM4 :
Q1 = 0.00
Q3 = 0.00
min_IQR = 0.00
max_IQR = 0.00

Attribute- PM10 :
Q1 = 4.34
Q3 = 7.09
min_IQR = 0.22
max_IQR = 11.21

Attribute- TSP :
Q1 = 0.00
Q3 = 0.00
min_IQR = 0.00
max_IQR = 0.00

Attribute- TEMP :
Q1 = 21.30
Q3 = 28.42
min_IQR = 10.62
max_IQR = 39.09

Attribute- HUM :
Q1 = 57.80
Q3 = 94.03
min_IQR = 3.45
max_IQR = 148.38

Attribute- WS :
Q1 = 0.24
Q3 = 4.96
min_IQR = -6.85
max_IQR = 12.05

Attribute- WD :
Q1 = 4.67
Q3 = 10.60
min_IQR = -4.23
max_IQR = 19.50
---> High outlier is found=15.00

Attribute- ISPU :
Q1 = 8.17
Q3 = 11.00
min_IQR = 3.92
max_IQR = 15.25